<! DOCTYPE html>
<html ng-app="translate">

<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/loading-bar.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />

    <script type="text/javascript" src="vendor-js/jquery.js"></script>
    <script type="text/javascript" src="vendor-js/bootstrap.js"></script>
    <script type="text/javascript" src="vendor-js/angular.js"></script>
    <script type="text/javascript" src="vendor-js/loading-bar.js"></script>
    <script type="text/javascript" src="app-js/directives.js"></script>
    <script type="text/javascript" src="app-js/controllers.js"></script>
    <script type="text/javascript" src="app-js/variables.js"></script>
    <script type="text/javascript" src="app-js/app.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-controller="TranslateController">

    <div class="container">
        <div class="col-xs-12">

            <error-messages></error-messages>

            <form ng-show="languagesLoaded" ng-submit="submit()">

                <div class="input-group input-group-lg">
                    <input ng-change="refresh()" ng-model="input" type="text" class="form-control" placeholder="Enter source text here...">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Translate</button>
                        </span>
                </div>

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        <span>Choose languages: {{langsSelected}} / 5 Languages Selected</span>
                        <span class="caret"></span>
                    </button>

                    <ul stop-event="click" class="dropdown-menu" role="menu">
                        <div class="btn-group" ng-repeat="language in langsMap">
                            <button ng-click="toggleClass(language)" ng-class="language.selected ? 'active' : ''" type="button" class="btn btn-default">{{language.name}}</button>
                        </div>
                    </ul>
                </div>

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="translation in translations">
                        <translation-block></translation-block>
                    </li>
                </ul>
            </form>
        </div>
    </div>

</body>

</html>